.btn{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    height: 50px ;
    width: 80px;
    font-size: 15px;
    border: none;
    background-color:rgb(127, 240, 112) ;
    font-weight:bold ;
    padding: 10px 10px;
    border-radius: 10px;
    color: blue;
}