#btn{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    height: 50px ;
    width: 80px;
    font-size: 15px;
    font-weight:bold ;
    padding: 10px 10px;
    border-radius: 10px;
    color: blue;
}

.hover{
    background-color: rgb(28, 214, 28);
}

.brenable{
    border: 4px solid rgb(230, 14, 14);
}

.brdisable{
    border: 4px solid rgb(32, 32, 31);
}