body{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;

}

.choices button{
    height: 150px;
    width: 150px;
    font-size: 90px;
    margin-left: 20px;
    background-color: rgb(24, 78, 126);
    border: 0px;
    border-radius: 50%;
    margin-bottom: 50px;
}
.choices button:hover{
     background-color: rgb(125, 167, 221);
}

#choiceDisplay, #computerDisplay, #resultDisplay{
    font-size: 25px;
    font-weight: bold;
} 
#resultDisplay{
    margin-bottom: 40px;
}

.red{
    color: red;
}

.green{
    color: green;
}
